<h1>Jemand benötigt deine Hilfe!</h1>
<p>Hallo REPLACE_HELFER_VORNAME,</p>
<p>jemand hat sich auf dein Hilfsangebot gemeldet. Bitte lese dir die folgenden Informationen durch und entscheide dann selbst, ob du der Person antworten möchtest. Wenn du antworten willst, nutze bitte dein eigenes E-Mailpostfach. Die App stellt nur den ersten Kontakt her.</p>
<h2>Anfrage:</h2>
<table>
    <tr>
        <td><b>Betrifft Hilfsangebot:</b></td>
        <td>REPLACE_HILFSANGEBOT_WHAT (REPLACE_HILFSANGEBOT_PLZ)</td>
    </tr>
    <tr>
        <td><b>Name:</b></td>
        <td>REPLACE_FRAGENDER_NAME</td>
    </tr>
    <tr>
        <td><b>E-Mail:</b></td>
        <td>REPLACE_FRAGENDER_EMAIL</td>
    </tr>
    <tr>
        <td><b>PLZ:</b></td>
        <td>REPLACE_FRAGENDER_PLZ</td>
    </tr>
    <tr>
        <td><b>Straße:</b></td>
        <td>REPLACE_FRAGENDER_STRASSE</td>
    </tr>
    <tr>
        <td><b>Hausnummer:</b></td>
        <td>REPLACE_FRAGENDER_NUMMER</td>
    </tr>
    <tr>
        <td><b>Nachricht:</b></td>
        <td>REPLACE_FRAGENDER_MESSAGE</td>
    </tr>
</table>
<a href="mailto:REPLACE_FRAGENDER_EMAIL" style="margin-top: 20px; padding-top: 20px; padding-bottom: 20px; color: #fff; text-decoration: none; width: 100%; display: block; background: darkgreen; text-align: center;"><b>Der hilfsbedürftigen Person antworten</b> (Klick hier!)</a>
<br>
<small>Diese E-Mail wurde automatisch generiert. Antworten hierauf wird niemand lesen!</small>
<hr>
<small>Absender: <a href="REPLACE_SYS_URL">REPLACE_SYS_NAME</a> (Impressum und Datenschutzerklärung) | Sie erhalten diese Mail, weil Sie entweder um Hilfe gebeten, oder Hilfe angeboten haben. Sollten Sie dies nicht wünschen, wenden Sie sich bitte an <a href="mailto:REPLACE_SYS_ADMINMAIL">REPLACE_SYS_ADMIN</a></small>
