<h3>Dies ist lediglich die Kopie deiner Nachricht an die helfende Person! Sie die nur als Bestätigung dafür, dass deine Nachricht auch versendet wurde. Du musst hier nichts weiter tun.</h3>
<h2>Anfrage:</h2>
<table>
    <tr>
        <td><b>Betrifft Hilfsangebot:</b></td>
        <td>REPLACE_HILFSANGEBOT_WHAT (REPLACE_HILFSANGEBOT_PLZ)</td>
    </tr>
    <tr>
        <td><b>Name:</b></td>
        <td>REPLACE_FRAGENDER_NAME</td>
    </tr>
    <tr>
        <td><b>E-Mail:</b></td>
        <td>REPLACE_FRAGENDER_EMAIL</td>
    </tr>
    <tr>
        <td><b>PLZ:</b></td>
        <td>REPLACE_FRAGENDER_PLZ</td>
    </tr>
    <tr>
        <td><b>Straße:</b></td>
        <td>REPLACE_FRAGENDER_STRASSE</td>
    </tr>
    <tr>
        <td><b>Hausnummer:</b></td>
        <td>REPLACE_FRAGENDER_NUMMER</td>
    </tr>
    <tr>
        <td><b>Nachricht:</b></td>
        <td>REPLACE_FRAGENDER_MESSAGE</td>
    </tr>
</table>
<br>
<small>Diese E-Mail wurde automatisch generiert. Antworten hierauf wird niemand lesen!</small>
<hr>
<small>Absender: <a href="REPLACE_SYS_URL">REPLACE_SYS_NAME</a> (Impressum und Datenschutzerklärung) | Sie erhalten diese Mail, weil Sie entweder um Hilfe gebeten, oder Hilfe angeboten haben. Sollten Sie dies nicht wünschen, wenden Sie sich bitte an <a href="mailto:REPLACE_SYS_ADMINMAIL">REPLACE_SYS_ADMIN</a></small>
