<h1>Passwort zurücksetzen</h1>
<p>Hallo REPLACE_VORNAME,</p>
<p>Das hier ist dein Link um dein Passwort neu zu setzen. Er ist 24 Stunden lang gültig.</p>
<a href="REPLACE_LINK">REPLACE_LINK</a>
<br>
<small>Diese E-Mail wurde automatisch generiert. Antworten hierauf wird niemand lesen!</small>
<hr>
<small>Absender: <a href="REPLACE_SYS_URL">REPLACE_SYS_NAME</a> (Impressum und Datenschutzerklärung) | Sie erhalten diese Mail, weil jemand einen Passwortrücksetzungslink für Ihren Account angefordert hat. Sollten Sie dies nicht wünschen, wenden Sie sich bitte an <a href="mailto:REPLACE_SYS_ADMINMAIL">REPLACE_SYS_ADMIN</a></small>