<h1>Vielen Dank für deine Anmeldung!</h1>
<p>Hallo REPLACE_VORNAME,</p>
<p>bitte klicke auf den untenstehenden Link, um deinen Account zu bestätigen! Du kannst dich dann direkt anmelden.</p>
<a href="REPLACE_LINK_OPTIN">REPLACE_LINK_OPTIN</a>#
<br>
<small>Diese E-Mail wurde automatisch generiert. Antworten werden von niemanden gelesen.</small>
<hr>
<small>Absender: <a href="REPLACE_SYS_URL">REPLACE_SYS_NAME</a> (Impressum und Datenschutzerklärung) | Sie erhalten diese Mail, weil Sie sich auf unserer Website registriert haben. Sollten Sie dies nicht wünschen, wenden Sie sich bitte an <a href="mailto:REPLACE_SYS_ADMINMAIL">REPLACE_SYS_ADMIN</a></small>