<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <a class="navbar-brand" href="/" style="padding: 0; margin: 0; margin-right: 24px;">
        <img src="/favicon.ico" width="32" height="32" alt="">
    </a>
    {% if user.login == false %}
    <button class="btn btn-secondary ml-auto mr-2" type="button" onclick="diagLogin();" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="fas fa-fw fa-sign-in-alt mr-2"></i>Login</button>
    {% else %}
    <button class="btn btn-danger ml-auto mr-2" type="button" onclick="diagDeleteAccount();" data-toggle="tooltip" data-placement="bottom" title="Account löschen"><i class="fas fa-fw fa-user-slash"></i></button>
    <button class="btn btn-secondary ml-0 mr-2" type="button" onclick="diagRemoveHelp();" data-toggle="tooltip" data-placement="bottom" title="Hilfsangebot löschen"><i class="fas fa-fw fa-trash-alt"></i></button>
    <button class="btn btn-secondary ml-0 mr-2" type="button" onclick="diagLogout();" data-toggle="tooltip" data-placement="bottom" title="Abmelden"><i class="fas fa-fw fa-sign-out-alt"></i></button>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#modal_erklaerung"><i class="fas fa-fw fa-question mr-2"></i>Erklärung</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#modal_datenschutz"><i class="fas fa-fw fa-eye mr-2"></i>Datenschutz</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#modal_impressum"><i class="fas fa-fw fa-briefcase mr-2"></i>Impressum</span></a>
            </li>
        </ul>
    </div>
</nav>