<!-- Meta -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.flatly.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/leaflet.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/leaflet.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/fa-all.css" />
<!-- JS -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/jquery.inputmask.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/leaflet.js"></script>
<script src="/assets/js/leaflet.markercluster.js"></script>
<script src="/assets/js/map.js"></script>
<script src="/assets/js/ui.js"></script>
<!-- Page -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<title>{{ config.title }}</title>