<div class="modal" tabindex="-1" role="dialog" id="modal_erklaerung">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Erklärung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>[EN and FR Translation on bottom]</p>
                <h3>Zweck</h3>
                <p>Diese Website dient dazu, die Hilfsangebote von Menschen zu sammeln und für alle zur Verfügung zu stellen, die die Hilfe in Anspruch nehmen möchten. Die Website ist eine Reaktion auf die Nachbarschftshilfen, die im Zuge der zu erwartenden Quarantänemaßnahmen entstanden sind. Sie soll es erleichtern, Hilfe anzubieten und zu finden und ein angemessenes Niveau an Datenschutz gewährleisten, indem der Kontakt direkt über die Seite abgewickelt werden kann und keiner Veröffentlichung von Kontakt- oder Adressdaten bedarf.</p>
                <h3>Hilfe anbieten</h3>
                <p>Gebe in das untere Suchfeld deine Postleitzahl ein und klicke anschließend auf den grünen Button mit "Anbieten". Es öffnet sich ein Dialog um dich zu registrieren. Anschließend erhältst du eine E-Mail, die du bestätigen musst. Wenn du das erledigt hast, kannst du dich in deinen Account einloggen und deine Hilfsangebote eintragen. Die Angebote erscheinen dann unmittelbar im System und andere können Kontakt zu dir aufnehmen.</p>
                <h3>Hilfe suchen</h3>
                <p>Gebe in das untere Suchfeld deine Postleitzahl ein und klicke anschließend auf den blauen Button mit "Suchen". Die Karte wird anschließend zu deiner Region wechseln und es werden dir die Anzahl der Hilfsangebote auf der Karte angezeigt. Klicke darauf und die Hilfsangebote werden aufgelistet. Suche nach dem passenden Angebot und klicke auf den Kontakt-Button. Du kannst dann direkt mit der helfenden Person kommunizieren.</p>
                <hr>
                <h5>[EN] Purpose</h5>
                <p>The purpose of this website is to collect and make available to all those who wish to take advantage of the help offered by people. The website is a reaction to the neighborhood help that has arisen in the course of the expected quarantine measures. It is intended to make it easier to offer and find help and to ensure an appropriate level of data protection by allowing contact to be made directly through the site and by not requiring the publication of contact or address details.</p>
                <h5>[EN] Offer help</h5>
                <p>Enter your postcode in the search field below and then click on the green button with "Offer". A dialog will open to register you. Afterwards you will receive an e-mail which you have to confirm. When you have done this, you can log in to your account and enter your help offers. The offers will appear immediately in the system and others can contact you. </p>
                <h5>[EN] Search help</h5>
                <p>Enter your postcode in the search field below and then click on the blue button with "Search". The map will then switch to your region and the number of help offers will be shown on the map. Click on it and the help offers will be listed. Search for the appropriate offer and click on the contact button. You can then communicate directly with the person helping you. </p>
                <hr>
                <h5>[FR] Objet</h5>
                <p>Le but de ce site est de collecter et de mettre à disposition de tous ceux qui souhaitent profiter de l'aide offerte par les gens. Le site web est une réaction à l'aide de voisinage qui est apparue au cours des mesures de quarantaine prévues. Il vise à faciliter l'offre et la recherche d'aide et à assurer un niveau approprié de protection des données en permettant de prendre contact directement par le biais du site et en ne nécessitant pas la publication des coordonnées de contact ou d'adresse.</p>
                <h5>[FR] Offrir de l'aide</h5>
                <p>Entrez votre code postal dans le champ de recherche ci-dessous et cliquez ensuite sur le bouton vert avec "Offre". Un dialogue s'ouvrira pour vous inscrire. Vous recevrez ensuite un e-mail que vous devrez confirmer. Une fois que vous avez fait cela, vous pouvez vous connecter à votre compte et saisir vos offres d'aide. Les offres apparaîtront immédiatement dans le système et d'autres personnes pourront vous contacter. </p>
                <h5>[FR] Aide à la recherche</h5>
                <p>Entrez votre code postal dans le champ de recherche ci-dessous et cliquez ensuite sur le bouton bleu avec "Rechercher". La carte passera ensuite à votre région et le nombre d'offres d'aide sera indiqué sur la carte. Cliquez dessus et les offres d'aide seront répertoriées. Recherchez l'offre appropriée et cliquez sur le bouton de contact. Vous pouvez alors communiquer directement avec la personne qui vous aide.</p>
            </div>
            <div class="modal-footer">
                {{ include('modals/parts/modal.part.footer.twig') }}
            </div>
        </div>
    </div>
</div>