<div class="modal" tabindex="-1" role="dialog" id="modal_givehelp">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-user-plus mr-1"></i>Neu registrieren</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="register" action="/src/register.php">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">E-Mail:</span>
                        </div>
                        <input required="required" id="reg_email" name="reg_email" class="form-control" type="email" aria-label="Username">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Telefon:</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text">+49</span>
                        </div>
                        <input id="reg_phone" name="reg_phone" class="form-control phone-mask" type="text" aria-label="Telefon" placeholder="Optional" value="{{ user.phone|slice(3,1000) }}">
                    </div>
                    <div class="alert alert-secondary my-2 p-2"><span><i class="fas fa-info-circle fa-fw mr-1"></i>Wir kooperieren mit der <b>Stabststelle Bürgerengagement</b> der Stadt Reutlingen. Wenn du deine Telefonnummer angibst, wird die Vermittlungsstelle passende telefonische Anfragen an dich weiterleiten.</span></div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Passwort:</span>
                        </div>
                        <input required="required" id="reg_password" name="reg_password" class="form-control" type="password" aria-label="Passwort">
                    </div>
                    <div class="alert alert-secondary my-2 p-2"><span><i class="fas fa-info-circle fa-fw mr-1"></i>Mindestens 8 Zeichen mit Buchstaben und Zahlen</span></div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Vorname:</span>
                        </div>
                        <input required="required" id="reg_vorname" name="reg_vorname" class="form-control" type="text" aria-label="Vorname">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Nachname:</span>
                        </div>
                        <input required="required" id="reg_nachname" name="reg_nachname" class="form-control" type="text" aria-label="Nachname">
                    </div>

                    <div class="custom-control custom-checkbox mt-2">
                        <input required="required" type="checkbox" class="custom-control-input" id="ref_dsgvo" name="ref_dsgvo">
                        <label class="custom-control-label" for="ref_dsgvo">Ich stimme der Verarbeitung meiner personenbezogenen Daten zu und habe die <a href="#" onClick="showDiag('datenschutz');">Datenschutzerklärung</a> gelesen und akzeptiert.</label>
                    </div>
                </form>
            </div>
            <div class="btn-group">
                <button class="btn btn-success no-radius" form="register" type="Submit"><i class="fas fa-check mr-2"></i>Registrieren</button>
            </div>
            <div class="modal-footer">
                {{ include('modals/parts/modal.part.footer.twig') }}
            </div>
        </div>
    </div>
</div>