<div class="modal" tabindex="-1" role="dialog" id="modal_splash">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-home mr-1"></i>Willkommen bei {{ config.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="badge badge-secondary">EN and FR translaton on bottom</div>
                                    <br>
                                    <span>Diese Website sammelt die Hilfsangebote von Menschen und stellt sie öffentlich zur Verfügung. Das soll es erleichtern, Hilfe anzubieten und zu finden sowie ein angemessenes Niveau an Datenschutz gewährleisten.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-0">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <form method="GET" action="/" style="width: 100%;">
                                <div class="input-group" style="width: 100%;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Hilfe in</span>
                                    </div>
                                    <input required="required" id="plz_splash" name="plz" class="form-control" type="search" placeholder="PLZ" aria-label="Nach Postleitzahl suchen">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Suchen</button>
                                    </div>
                                    <div class="input-group-append">
                                        {% if user.login == false %}
                                        <button class="btn btn-success" onclick="diagGiveHelp('splash');" type="button">Bieten</button>
                                        {% else %}
                                        <button class="btn btn-success" onclick="diagAddHelp('splash');" type="button">Bieten</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-0">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="card bg-primary text-white mb-3">
                                <div class="card-header p-2">
                                    <span><i class="fas fa-fw fa-search mr-1"></i>Hilfe suchen</span>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light p-2">Gebe die PLZ an, in deren Gebiet du Hilfe suchst und klicke auf Suchen</li>
                                    <li class="list-group-item list-group-item-light p-2">Wähle aus der Liste das Hilfsangebot aus, das zu deinen Bedürfnissen passt</li>
                                    <li class="list-group-item list-group-item-light p-2">Kontaktiere die helfende Person entweder per E-Mail oder Telefon indem du auf den entsprechenden Button klickst</li>
                                    <li class="list-group-item list-group-item-light p-2">Beachte die <a class="text-info" href="https://www.infektionsschutz.de/hygienetipps/" target="_blank"><b>Hygieneempfehlungen der BZgA</b></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card bg-success text-white mb-3">
                                <div class="card-header p-2">
                                    <span><i class="fas fa-fw fa-users"></i>&nbsp;Hilfe anbieten</span>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light p-2">Gebe die PLZ an, in deren Gebiet du Hilfe anbieten möchtest. Melde dich hierfür mit deinem Account an oder registriere dich</li>
                                    <li class="list-group-item list-group-item-light p-2">Gebe an, welche Art von Hilfe du anbietest und an welchen Tagen</li>
                                    <li class="list-group-item list-group-item-light p-2">Wenn jemand in der von dir angegebenen PLZ nach einer Hilfe sucht, kann er dich nun kontaktieren</li>
                                    <li class="list-group-item list-group-item-light p-2">Beachte die <a class="text-info" href="https://www.infektionsschutz.de/hygienetipps/" target="_blank"><b>Hygieneempfehlungen der BZgA</b></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body pt-0 pb-3">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header p-2" id="headingFR">
                            <h5 class="mb-0">
                                <button class="btn btn-link p-0 text-info" data-toggle="collapse" data-target="#collapsFR"><i class="fas fa-fw fa-flag"></i>&nbsp;Français - Explication</button>
                            </h5>
                        </div>
                        <div id="collapsFR" class="collapse"data-parent="#accordion">
                            <div class="card-body p-2">
                                <h5>Objet</h5>
                                <p>Le but de ce site est de collecter et de mettre à disposition de tous ceux qui souhaitent profiter de l'aide offerte par les gens. Le site web est une réaction à l'aide de voisinage qui est apparue au cours des mesures de quarantaine prévues. Il vise à faciliter l'offre et la recherche d'aide et à assurer un niveau approprié de protection des données en permettant de prendre contact directement par le biais du site et en ne nécessitant pas la publication des coordonnées de contact ou d'adresse.</p>
                                <h5>Offrir de l'aide</h5>
                                <p>Entrez votre code postal dans le champ de recherche ci-dessous et cliquez ensuite sur le bouton vert avec "Offre". Un dialogue s'ouvrira pour vous inscrire. Vous recevrez ensuite un e-mail que vous devrez confirmer. Une fois que vous avez fait cela, vous pouvez vous connecter à votre compte et saisir vos offres d'aide. Les offres apparaîtront immédiatement dans le système et d'autres personnes pourront vous contacter. </p>
                                <h5>Aide à la recherche</h5>
                                <p>Entrez votre code postal dans le champ de recherche ci-dessous et cliquez ensuite sur le bouton bleu avec "Rechercher". La carte passera ensuite à votre région et le nombre d'offres d'aide sera indiqué sur la carte. Cliquez dessus et les offres d'aide seront répertoriées. Recherchez l'offre appropriée et cliquez sur le bouton de contact. Vous pouvez alors communiquer directement avec la personne qui vous aide.</p>
                            </div>
                        </div>
                        <div class="card-header p-2" id="headingEN">
                            <h5 class="mb-0">
                                <button class="btn btn-link p-0 text-info" data-toggle="collapse" data-target="#collapsEN"><i class="fas fa-fw fa-flag"></i>&nbsp;English - Explanation</button>
                            </h5>
                        </div>
                        <div id="collapsEN" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body p-2 ">
                                <h5>Purpose</h5>
                                <p>The purpose of this website is to collect and make available to all those who wish to take advantage of the help offered by people. The website is a reaction to the neighborhood help that has arisen in the course of the expected quarantine measures. It is intended to make it easier to offer and find help and to ensure an appropriate level of data protection by allowing contact to be made directly through the site and by not requiring the publication of contact or address details.</p>
                                <h5>Offer help</h5>
                                <p>Enter your postcode in the search field below and then click on the green button with "Offer". A dialog will open to register you. Afterwards you will receive an e-mail which you have to confirm. When you have done this, you can log in to your account and enter your help offers. The offers will appear immediately in the system and others can contact you. </p>
                                <h5>Search help</h5>
                                <p>Enter your postcode in the search field below and then click on the blue button with "Search". The map will then switch to your region and the number of help offers will be shown on the map. Click on it and the help offers will be listed. Search for the appropriate offer and click on the contact button. You can then communicate directly with the person helping you. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ include('modals/parts/modal.part.footer.twig') }}
            </div>
        </div>
    </div>
</div>
{% if modal == 'splash' %}
<script type="text/javascript">
    $('#modal_splash').modal();
</script>
{% endif %}